@import '../mixins/mediaq';
@import '../mixins/colors';
@import '../mixins/mixinsText';
@import '../mixins/divs';

.noScroll {
    overflow-y: hidden;
}

.mainWrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }
}

.articleWrp {
    &>*+* {
        margin-top: 16px;
    }

    .moreBlk {
        margin-top: 40px;
    }

    h2 {
        @include h3;
        margin-top: 0;
    }

    p {
        @include t4;
        margin-top: 0;
    }
}

.dateCellWrp {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-gap: 10px;
    padding: 20px 0;

    @media (max-width: 678px) {
        display: block;
    }

    .label {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #585b6d;
    }

    &>div {
        margin-top: 16px;
    }
}

p a,
li a {
    color: $cred1;
}

.mailLink,
.mailLink a {
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 88%;
    letter-spacing: -0.025em;
    text-decoration-line: underline;
    color: #E1251B;
}

ol {
    list-style: none;
    counter-reset: olcounter;
    padding: 0;
    padding-left: 25px;

    li {
        @include t3l;
        margin: 16px 0;
        position: relative;
        counter-increment: olcounter;

        &::before {
            content: counter(olcounter) ".";
            position: absolute;
            top: 0px;
            left: -22px;
            @include t4;
            color: $cred1;
        }

        &>p {
            margin: 6px 0;

            &+p {
                margin-top: 16px;
            }
        }
    }
}

ul {
    list-style: square;

    padding: 0;
    padding-left: 25px;

    li {
        @include t3l;
        margin: 16px 0;
        position: relative;

        &::marker {
            color: $cred1;
        }
    }

    ol>li:before {
        content: counter(olcounter) ".";
        position: absolute;
        top: -1px;
        left: -30px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #000000;
        background-color: transparent;
    }
}

.ArticleTxt {
    &>div:first-of-type {
        *:first-of-type {
            margin-top: 0;
        }
    }

    table {
        table-layout: fixed;
        width: 100%;
        @include t3l;

        td,
        th {
            width: 2%;
            vertical-align: top;
            padding: 10px 15px;
        }

        tr {
            td:first-of-type {
                padding-left: 0;
            }

            td:last-of-type {
                padding-right: 0;
            }
        }

        tr+tr {
            box-shadow: 0 1px 0 0px inset $cgray5;
        }
    }


    &>*:first-of-type {
        margin-top: 0;
    }

    p {
        @include t3l;
    }

    h2 {
        @include h2mob;
        margin: 35px 0 25px;
    }

    h3 {
        @include h3;
        margin: 35px 0 25px;
    }

    h4 {
        @include h4;
        margin: 30px 0 20px;
    }

    h5 {
        @include h5;
        margin: 25px 0 20px;
    }

    h6 {
        @include h6;
        margin: 25px 0 15px;
    }

    ol {
        list-style: none;
        counter-reset: olcounter;
        padding: 0;
        padding-left: 25px;

        li {
            @include t3l;
            margin: 16px 0;
            position: relative;
            counter-increment: olcounter;

            &::before {
                content: counter(olcounter) ".";
                position: absolute;
                top: 0px;
                left: -22px;
                @include t4;
                color: $cred1;
            }

            &>p {
                margin: 6px 0;

                &+p {
                    margin-top: 16px;
                }
            }
        }
    }

    ul {
        list-style: square;

        padding: 0;
        padding-left: 25px;

        li {
            @include t3l;
            margin: 16px 0;
            position: relative;

            &::marker {
                color: $cred1;
            }
        }

        ol>li:before {
            content: counter(olcounter) ".";
            position: absolute;
            top: -1px;
            left: -30px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #000000;
            background-color: transparent;
        }
    }

    &>img {
        width: 100%;
        margin: 16px 0;
    }

    .quote {
        .txt {
            font-style: italic;
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.01em;
            color: #111325;
        }

        .auth {
            @include h6;
            margin-top: 15px;
            padding-bottom: 15px;

            &::before {
                content: "";
                height: 3px;
                width: 16px;
                margin-bottom: 4px;
                margin-right: 10px;
                background-color: $cred1;
                display: inline-block;
            }
        }
    }
}
