.moreLnk {
    @include t3;
    text-decoration: none;
    position: relative;
    padding-bottom: 3px;

    &:hover {
        .decoLine1::before {
            left: 0;
            pointer-events: none;
        }
    }
}

.sliderControlls {
    display: flex;
    height: 62px;
    border-top: 1px solid $cgray2;
    border-bottom: 1px solid $cgray2;
    background-color: $cgraybg1;

    .toprew {
        cursor: pointer;
        width: 33.33%;
        border-right: 1px solid $cgray2;

        .ic-icarrow-left {
            font-size: 24px;
            color: $cwhite;
            margin-left: 20px;
            line-height: 62px;
        }
    }

    .toright {
        cursor: pointer;
        width: 33.33%;
        border-right: 1px solid $cgray2;
        text-align: right;

        .ic-icarrow-right {
            font-size: 24px;
            color: $cwhite;
            margin-right: 20px;
            line-height: 62px;
        }
    }

    .counter {
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            display: flex;
            align-items: flex-end;
            @include t1;

            span {
                font-size: 20px;
                margin-left: 8px;
            }

            color: $cwhite
        }
    }

    &.light {
        border-top: 1px solid $cgray4;
        border-bottom: 1px solid $cgray4;
        background-color: unset;
        background-color: $cwhite;

        .toprew {
            border-right: 1px solid $cgray4;

            .ic-icarrow-left {
                color: $cblacktxt;
            }
        }

        .toright {
            border-right: 1px solid $cgray4;

            .ic-icarrow-right {
                color: $cblacktxt;
            }
        }

        .counter {
            &>div {
                color: $cblacktxt;
            }
        }
    }

    &.gray {
        border-top: 1px solid $cgray4;
        border-bottom: 1px solid $cgray4;
        background-color: unset;
        background-color: $cgray6;

        .toprew {
            border-right: 1px solid $cgray4;

            .ic-icarrow-left {
                color: $cblacktxt;
            }
        }

        .toright {
            border-right: 1px solid $cgray4;

            .ic-icarrow-right {
                color: $cblacktxt;
            }
        }

        .counter {
            &>div {
                color: $cblacktxt;
            }
        }
    }
}

.decoLine1 {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    transition: 0.3s ease;
    background-color: $cgray4;
    overflow: hidden;

    &::before {
        pointer-events: none;
        content: '';
        width: 100%;
        height: 100%;
        background-color: $cred1;
        position: absolute;
        top: 0;
        left: calc(-100% - 1px);
        transition: 0.3s ease;
    }
}

.chapterItem {
    width: 33.33%;
    padding: 10px 10px 50px 10px;
    text-decoration: none;
    position: relative;
    // border: 1px solid $cgray6;



    .ico {
        width: 62px;
        height: 62px;
        margin-bottom: 15px;
        background-repeat: no-repeat;
        display: inline-block;
        background-size: cover;
        background-position: center;

        img {
            width: 42px;
            height: 42px;
            display: block;
        }
    }

    .caption {
        @include h3;
        margin: 0;

        @media (max-width: $ts) {
            @include h3mob;
        }
    }

    .sub {
        @include t4;
        margin: 20px 0 0;
    }

    .ic-icarrow-right {
        position: absolute;
        bottom: 15px;
        left: 15px;
        font-size: 20px;
        color: #000;
    }

    &:hover {
        background-color: $cred1 !important;

        .caption,
        .sub,
        .ic-icarrow-right {
            color: $cwhite !important;
        }
    }
}

.chapterItem2 {
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    position: relative;
    background-color: $cwhite;

    // border: 1px solid $cgray6;


    &:hover {
        background-color: $cred1;

        .caption,
        .sub,
        .ic-icarrow-right {
            color: $cwhite;
        }
    }

    .caption {
        @include h3;
        margin: 0;
    }

    .sub {
        @include t4;
        margin: 20px 0 0;
    }

    .ic-icarrow-right {
        display: block;
        margin-top: 25px;
        font-size: 20px;
        color: #000;
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
}

a.chapterItem2 {
    @media (max-width: $ts) {
        padding-bottom: 35px;
    }
}

.button1 {
    display: inline-block;
    min-width: 174px;
    background-color: $cred1;
    text-decoration: none;
    padding: 11px 0px;
    text-align: center;
    border: none;

    .t {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.035em;
        color: #FFFFFF;
        text-transform: lowercase;
    }

    .ic-icarrow-right {
        color: #FFFFFF;
        font-size: 18px;
        vertical-align: middle;
        margin-left: 15px;
    }
}

.button2 {
    display: block;
    background-color: $cgray6;
    max-width: 247px;
    height: 58px;
    padding: 0 60px 0 20px;
    position: relative;
    border: none;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-feature-settings: 'cpsp'on;
    color: #111325;
    text-decoration: none;
    transition: 0.3s ease;

    [class^="ic-"],
    [class*=" ic-"] {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translate(50%, -50%);
        font-size: 24px;
    }

    &:hover {
        background-color: $cred2;
        color: $cwhite
    }
}

.button2.left {
    padding: 0 20px 0 60px;

    [class^="ic-"],
    [class*=" ic-"] {
        right: unset;
        left: 30px;
        transform: translate(-50%, -50%);
    }
}

// .inputComponent {
// 	border: 1px solid $cgray3;
// 	position: relative;
// 	margin-top: 10px;

// 	input {
// 		height: 58px;
// 		width: 100%;
// 		border: none;
// 		background-color: transparent;
// 		outline: none;
// 		font-style: normal;
// 		font-weight: normal;
// 		font-size: 18px;
// 		line-height: 130%;
// 		letter-spacing: 0.01em;
// 		color: #111325;
// 		padding: 15px 60px 15px 15px;
// 		color: $cblacktxt;

// 		&::placeholder {
// 			color: $cblacktxt;
// 		}
// 	}

// 	.ic-icarrow-right {
// 		font-size: 24px;
// 		position: absolute;
// 		top: 50%;
// 		right: 30px;
// 		transform: translate(50%, -50%);
// 	}
// }
