@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-ExtraBold.eot');
    src: local('Gilroy ExtraBold'),
        url('./fontGil/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-ExtraBold.woff') format('woff'),
        url('./fontGil/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'),
        url('./fontGil/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-Heavy.woff') format('woff'),
        url('./fontGil/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'),
        url('./fontGil/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-LightItalic.woff') format('woff'),
        url('./fontGil/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-ThinItalic.eot');
    src: local('Gilroy Thin Italic'),
        url('./fontGil/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-ThinItalic.woff') format('woff'),
        url('./fontGil/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-BlackItalic.eot');
    src: local('Gilroy Black Italic'),
        url('./fontGil/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-BlackItalic.woff') format('woff'),
        url('./fontGil/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-BoldItalic.eot');
    src: local('Gilroy Bold Italic'),
        url('./fontGil/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-BoldItalic.woff') format('woff'),
        url('./fontGil/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'),
        url('./fontGil/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-SemiBold.woff') format('woff'),
        url('./fontGil/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-UltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'),
        url('./fontGil/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-UltraLightItalic.woff') format('woff'),
        url('./fontGil/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-SemiBoldItalic.eot');
    src: local('Gilroy SemiBold Italic'),
        url('./fontGil/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-SemiBoldItalic.woff') format('woff'),
        url('./fontGil/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-Light.eot');
    src: local('Gilroy Light'),
        url('./fontGil/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-Light.woff') format('woff'),
        url('./fontGil/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-MediumItalic.eot');
    src: local('Gilroy Medium Italic'),
        url('./fontGil/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-MediumItalic.woff') format('woff'),
        url('./fontGil/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-ExtraBoldItalic.eot');
    src: local('Gilroy ExtraBold Italic'),
        url('./fontGil/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-ExtraBoldItalic.woff') format('woff'),
        url('./fontGil/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-Regular.eot');
    src: local('Gilroy Regular'),
        url('./fontGil/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-Regular.woff') format('woff'),
        url('./fontGil/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-HeavyItalic.eot');
    src: local('Gilroy Heavy Italic'),
        url('./fontGil/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-HeavyItalic.woff') format('woff'),
        url('./fontGil/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-Medium.eot');
    src: local('Gilroy Medium'),
        url('./fontGil/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-Medium.woff') format('woff'),
        url('./fontGil/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-RegularItalic.eot');
    src: local('Gilroy Regular Italic'),
        url('./fontGil/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-RegularItalic.woff') format('woff'),
        url('./fontGil/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'),
        url('./fontGil/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-UltraLight.woff') format('woff'),
        url('./fontGil/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-Bold.eot');
    src: local('Gilroy Bold'),
        url('./fontGil/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-Bold.woff') format('woff'),
        url('./fontGil/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-Thin.eot');
    src: local('Gilroy Thin'),
        url('./fontGil/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-Thin.woff') format('woff'),
        url('./fontGil/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fontGil/Gilroy-Black.eot');
    src: local('Gilroy Black'),
        url('./fontGil/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('./fontGil/Gilroy-Black.woff') format('woff'),
        url('./fontGil/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

