@font-face {
    font-family: 'Biopharma';
    src: url('./assets/icofont/Biopharma.eot?pa31oi');
    src: url('./assets/icofont/Biopharma.eot?pa31oi#iefix') format('embedded-opentype'),
        url('./assets/icofont/Biopharma.woff2?pa31oi') format('woff2'),
        url('./assets/icofont/Biopharma.ttf?pa31oi') format('truetype'),
        url('./assets/icofont/Biopharma.woff?pa31oi') format('woff'),
        url('./assets/icofont/Biopharma.svg?pa31oi#biopharma') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@mixin ic {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Biopharma' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="ic-"],
[class*=" ic-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Biopharma' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-landQuot:before {
    content: "\e91d";
}

.ic-twitter:before {
    content: "\e91c";
}

.ic-calendar:before {
    content: "\e918";
}

.ic-clock:before {
    content: "\e919";
}

.ic-eye:before {
    content: "\e91a";
}

.ic-owl:before {
    content: "\e91b";
}

.ic-check:before {
    content: "\e917";
}

.ic-share:before {
    content: "\e916";
}

.ic-bc:before {
    content: "\e915";
}

.ic-donwload:before {
    content: "\e914";
}

.ic-owl-logo:before {
    content: "\e913";
}

.ic-icarrow-left:before {
    content: "\e900";
}

.ic-icarrow-right:before {
    content: "\e901";
}

.ic-icburger:before {
    content: "\e902";
}

.ic-icburger2:before {
    content: "\e903";
}

.ic-icchevron-left:before {
    content: "\e904";
}

.ic-icchevron-right:before {
    content: "\e905";
}

.ic-icclose:before {
    content: "\e906";
}

.ic-icexpand-down:before {
    content: "\e907";
}

.ic-icexpand-left:before {
    content: "\e908";
}

.ic-icexpand-right:before {
    content: "\e909";
}

.ic-icfb:before {
    content: "\e90a";
}

.ic-icinst:before {
    content: "\e90b";
}

.ic-icplay:before {
    content: "\e90c";
}

.ic-icplay-2:before {
    content: "\e90d";
}

.ic-icplus:before {
    content: "\e90e";
}

.ic-icsearch:before {
    content: "\e90f";
}

.ic-ictik-tok:before {
    content: "\e910";
}

.ic-ictl:before {
    content: "\e911";
}

.ic-icyoutube:before {
    content: "\e912";
}
