$cwhite: #fff;
$cred1: #E1251B;
$cred2: #C62118;
$cblacktxt: #111325;
$cgraybg1: #393B4B;
$cgray2: #595B69;
$cgray3: #7F8192;
$cgray4: #C7C8D3;
$cgray5: #D3D6E7;
$cgray6: #E9EBF4;
$cgray7: #F7F7FB;
$cerror: #D1435D;
$csuccess: #6CC39F;
