@mixin container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
	box-sizing: content-box;

	@media (max-width: $m) {
		padding: 0 15px;
	}
}

@mixin ulMarker {
	list-style: none;
	padding: 0;

	li {
		position: relative;
		padding-left: 30px;
		padding-bottom: 10px;


		&:before {
			content: "\e909";
			position: absolute;
			top: 0;
			left: 0;
			font-size: 19px;
			color: $cgray3;

			font-family: "Biopharma" !important;
			speak: never;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}