@mixin h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 83px;
	line-height: 120%;
	letter-spacing: -0.035em;
	color: #111325;
}

@mixin h1tabl {
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 120%;
	letter-spacing: -0.035em;
	color: #111325;
}

@mixin h1mob {
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 120%;
	letter-spacing: -0.035em;
	color: #111325;
}

@mixin h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 120%;
	color: #111325;
}

@mixin h2mob {
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 120%;
	color: #111325;
}

@mixin h2l {
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 120%;
	color: #111325;
}

@mixin h3 {
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 120%;
	color: #111325;

	@media (max-width: $m) {
		font-size: 20px;
	}
}

@mixin h3mob {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	color: #111325;
}

@mixin h4 {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 120%;
	color: #111325;
}

@mixin h5 {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	color: #111325;
}

@mixin h6 {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: #111325;
}

@mixin t1 {
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 130%;
	color: #111325;
}

@mixin t1l {
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 130%;
	color: #111325;
}

@mixin t2 {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 130%;
	color: #111325;
}

@mixin t2l {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 130%;
	color: #111325;
}

@mixin t3 {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	letter-spacing: 0.01em;
	color: #111325;
}

@mixin t3mob {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	color: #111325;
}

@mixin t3l {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
	letter-spacing: 0.01em;
	color: #111325;
}

@mixin t4 {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	color: #111325;
}

@mixin t4l {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #111325;
}

@mixin t5 {
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 120%;
	color: #111325;
}


@mixin rt {
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 88%;
	letter-spacing: -0.025em;

	@media (max-width: $ts) {
		font-size: 34px;
	}
}

@mixin rtm {
	font-style: normal;
	font-weight: 300;
	font-size: 34px;
	line-height: 88%;
	letter-spacing: -0.025em;
	text-decoration-line: underline;

	@media (max-width: $ts) {
		font-size: 34px;
	}
}