.select2-container--default .select2-selection--single {
    border: 1px solid #e9ecef !important;
}

.interlink-container .select2-container .select2-selection--single {
    height: 35px !important;;
}

.interlink-container .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px !important;;
}

.interlink-container .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px !important;;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #e9ecef !important;
}

.select2-dropdown {
    border: 1px solid #e9ecef !important;
}
