<!DOCTYPE html>
<html lang="">

<head>
	@include('front.home.meta')
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1">
	<link rel="icon" href="<%= BASE_URL %>favicon.ico">

	<!-- <link rel="stylesheet" href="https://i.icomoon.io/public/0b30d968be/BiopharmaSite/style.css"> -->
	<!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
</head>

<body>
	<noscript>
		<strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
			Please enable it to continue.</strong>
	</noscript>
	<div id="app"></div>
	<!-- built files will be auto injected -->
</body>

</html>